@model Turn.Data.Entities.Ticket
<dt class="col-sm-6">
    <h1>Turno</h1>
    <h1>@Html.DisplayFor(model => model.ServicesType)-@Html.DisplayFor(model => model.ShiftNumber) </h1>
    <h2>Ventanilla</h2>
    <h2>@Html.DisplayFor(model => model.Stand)</h2>
    <a>@Html.DisplayFor(model => model.AttentionDate)</a>
</dt>
