@model Turn.Data.Entities.Ticket

@{
    ViewData["Title"] = "Koisko";
}

<h1>Kiosko</h1>

<div>
    <a asp-action="CashDesk">Caja</a>
</div>

<div>
    <a asp-action="Stand">Ventanilla</a>
</div>

<div>
    <a asp-action="Results">Entrega de Resultados</a>
</div>

<div>
    <a asp-action="Index">Regresar al inicio</a>
</div>

