
@{
    ViewData["Title"] = "Module";
}

<h1>Module</h1>

<div>
    <a asp-action="CashDesk1">Caja 1</a>
</div>

<div>
    <a asp-action="CashDesk2">Caja 2</a>
</div>

<div>
    <a asp-action="CashDesk3">Caja 3</a>
</div>

<div>
    <a asp-action="CashDesk4">Caja 4</a>
</div>

<div>
    <a asp-action="CashDesk5">Caja 5</a>
</div>

<div>
    <a asp-action="CashDesk6">Caja 6</a>
</div>

<div>
    <a asp-action="Stand1">Citas 1</a>
</div>

<div>
    <a asp-action="Stand2">Citas 2</a>
</div>

<div>
    <a asp-action="Results1">Entrega de resultados</a>
</div>
